.u-section-1 .u-sheet-1 {
  min-height: 950px;
}

.u-section-1 .u-image-1 {
  width: 841px;
  height: 261px;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 449px;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 434px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 167px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 105px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 193px;
    margin-top: 120px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 640px;
}

.u-section-2 .u-video-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-poster-1 {
  background-image: url("images/fll-logo-horizontal.png");
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 307px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 191px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 4000ms;
  margin: 152px auto 60px;
  padding: 32px 115px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 80px;
    margin-bottom: 36px;
    padding: 13px 35px;
  }
}