.u-section-1 .u-sheet-1 {
  min-height: 612px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 515px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-1 .u-image-1 {
  width: 832px;
  height: 514px;
  margin: 1px -67px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 515px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 10px 34px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 425px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    height: 423px;
    width: 614px;
    margin-top: 0;
    margin-right: auto;
    margin-left: -60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    left: 6px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 341px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 310px;
  }

  .u-section-1 .u-image-1 {
    width: 334px;
    height: 247px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 19px -14px 0 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 231px;
  }
}.u-section-2 {
  min-height: 1726px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 88px 200px 0;
}

.u-section-2 .u-shape-1 {
  height: 200px;
  margin: 110px auto 0 0;
}

.u-section-2 .u-shape-2 {
  height: 200px;
  margin: 474px auto 0 0;
}

.u-section-2 .u-list-1 {
  min-height: 1324px;
  grid-template-rows: auto auto;
  width: 1140px;
  grid-auto-rows: 100%;
  margin: -939px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 50%;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 25%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("images/Liyang.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-1 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-2 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("images/Ryan.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 257px;
  min-height: 271px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-4 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-5 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-6 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-2 .u-image-3 {
  width: 229px;
  height: 229px;
  background-image: url("images/Mia1.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-7 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-8 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-9 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-2 .u-image-4 {
  width: 229px;
  height: 229px;
  background-image: url("images/IMG_2691.JPG");
  background-position: 77.84% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 257px;
  min-height: 246px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-4 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-10 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-11 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-12 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-2 .u-image-5 {
  width: 229px;
  height: 229px;
  background-image: url("images/Liyao.jpeg");
  background-position: 23.8% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-5 {
  width: 257px;
  min-height: 272px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-14 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-16 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-5 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-13 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-14 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-15 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-2 .u-image-6 {
  width: 229px;
  height: 229px;
  background-image: url("images/IMG_2692.JPG");
  background-position: 50% 32.75%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-6 {
  width: 257px;
  min-height: 270px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-17 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-19 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-6 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-16 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-17 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-18 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 40px;
}

.u-section-2 .u-image-7 {
  width: 229px;
  height: 229px;
  background-image: url("images/Dahai.jpg");
  background-position: 50% 73.55%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-7 {
  width: 257px;
  min-height: 270px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-20 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-21 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-22 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-7 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-19 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-20 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-21 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 40px;
}

.u-section-2 .u-image-8 {
  width: 229px;
  height: 229px;
  background-image: url("images/favicon.png?rand=c1d8");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-8 {
  width: 257px;
  min-height: 270px;
  margin: -229px 0 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 0 0 20px 25px;
}

.u-section-2 .u-text-23 {
  font-size: 1.875rem;
  margin: 0 76px 0 0;
}

.u-section-2 .u-text-24 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px 22px 0 3px;
}

.u-section-2 .u-text-25 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 18px -3px 0 3px;
}

.u-section-2 .u-social-icons-8 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 13px auto 0 1px;
}

.u-section-2 .u-icon-22 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-2 .u-icon-23 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-2 .u-icon-24 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 96px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1962px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 76px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 560px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 940px;
    margin-top: -991px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-1 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-2 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-3 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-3 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-4 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-4 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-5 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-5 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-6 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-6 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-7 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-7 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-8 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-8 {
    width: 200px;
    min-height: 248px;
    margin-top: -183px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 2851px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 79px;
    margin-right: 79px;
  }

  .u-section-2 .u-shape-1 {
    height: 800px;
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 474px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 2466px;
    margin-top: -1474px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 12.5%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-3 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-4 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-5 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-6 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-6 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-7 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-8 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-8 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 3122px;
  }

  .u-section-2 .u-text-1 {
    width: 482px;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-1 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-2 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-3 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-3 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-4 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-4 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-5 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-5 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-6 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-6 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-7 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-7 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-20 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-21 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-image-8 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-8 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-23 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-24 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 24px;
    margin-bottom: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 5186px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: 21px;
  }

  .u-section-2 .u-shape-1 {
    height: 610px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-2 {
    height: 578px;
    margin-top: 664px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -1852px;
  }

  .u-section-2 .u-image-1 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-1 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 116px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-2 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-right: 29px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-3 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.25rem;
    margin-right: 196px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-4 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.25rem;
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-4 {
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-5 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.25rem;
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-5 {
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-6 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-18 {
    font-size: 1.25rem;
    margin-right: 134px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-6 {
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-7 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-21 {
    font-size: 1.25rem;
    margin-right: 194px;
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-7 {
    margin-left: 0;
  }

  .u-section-2 .u-image-8 {
    width: 255px;
    height: 255px;
  }

  .u-section-2 .u-group-8 {
    min-height: 230px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-24 {
    font-size: 1.25rem;
    margin-right: 99px;
    margin-left: 0;
  }

  .u-section-2 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-8 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 60px;
  }
}