.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 21px 842px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-1 .u-video-1 {
  margin-top: 20px;
  margin-bottom: 0;
  height: 640px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 642px;
  }

  .u-section-1 .u-video-1 {
    height: 718px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 242px;
  }

  .u-section-1 .u-video-1 {
    height: 640px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 211%;
    height: 100%;
    left: -55%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 42px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 335%;
    left: -117%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 900px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 21px 842px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-2 .u-video-1 {
  margin-top: 20px;
  margin-bottom: 0;
  height: 640px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 642px;
  }

  .u-section-2 .u-video-1 {
    height: 718px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 242px;
  }

  .u-section-2 .u-video-1 {
    height: 640px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 211%;
    height: 100%;
    left: -55%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 42px;
  }

  .u-section-2 .embed-responsive-1 {
    width: 335%;
    left: -117%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 21px 603px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-video-1 {
  margin-top: 20px;
  margin-bottom: 0;
  height: 640px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 403px;
  }

  .u-section-3 .u-video-1 {
    height: 718px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-3 .u-video-1 {
    height: 640px;
  }

  .u-section-3 .embed-responsive-1 {
    width: 211%;
    height: 100%;
    left: -55%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .embed-responsive-1 {
    width: 335%;
    left: -117%;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 900px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 21px 603px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-4 .u-video-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  height: 640px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 403px;
  }

  .u-section-4 .u-video-1 {
    height: 718px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-4 .u-video-1 {
    height: 640px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 211%;
    height: 100%;
    left: -55%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .embed-responsive-1 {
    width: 335%;
    left: -117%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 900px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 21px 603px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 21px 0 0;
}

.u-section-5 .u-video-1 {
  margin-top: 20px;
  margin-bottom: 60px;
  height: 640px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 403px;
  }

  .u-section-5 .u-video-1 {
    height: 718px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 178%;
    height: 178%;
    left: -39%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 183px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-5 .u-video-1 {
    height: 640px;
  }

  .u-section-5 .embed-responsive-1 {
    width: 211%;
    height: 100%;
    left: -55%;
    top: 0%;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .embed-responsive-1 {
    width: 335%;
    left: -117%;
  }
}